CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

thirdparty/
Build/.vs/
.vs/
Build/src/OpenGLPAG.dir/Debug/

# Ignore Logs
logs
*.log
*.tlog

# Ignore IDE specific files
.idea/
.vscode/
*.sw*